{{#each station.readings}}
  <tr>
    <td>
      {{code}}
    </td>
    <td>
      {{temp}}
    </td>
    <td>
      {{windSpeed}}
    </td>
    <td>
      {{pressure}}
    </td>
    <td>
      {{windDir}}
    </td>
     <td>
      {{date}}
    </td>
    <td>
          <a href="/station/{{../station.id}}/deletereading/{{id}}" class="ui icon button"><i class="red icon trash"></i></a>
    </td>
  </tr>
{{/each}}