{{> menu id="dashboard"}}

{{#each stations}}
<section class="ui segment">
  <h2 class="ui header">
    {{name}}
  </h2>
  <table class="ui table">
      <thead>
        <tr>
           <th>Code</th>
      <th>Temp</th>
      <th>Wind Speed</th>
      <th>Pressure</th>
          <th>Wind Direction</th>
        </tr>
      </thead>
      <tbody>
        {{#each readings}}
          <tr>
            <td>
              {{code}}
            </td>
            <td>
              {{temp}}
            </td>
            <td>
              {{windspeed}}
            </td>
            <td>
              {{pressure}}
            </td>
            <td>
              {{winddir}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
</section>
{{/each}}